@import 'common';

.mmp_nav {
  padding: 0 .266667rem /* 20/75 */;
  background-image: linear-gradient(#fff, #ddd);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  li {
    float: left;
    font-size: .4rem /* 30/75 */;
    line-height: 1.013333rem /* 76/75 */
  }

  button {
    padding: .066667rem .4rem /* 30/75 */;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(#ddd, #fff);
    margin-top: .093333rem /* 7/75 */;
  }
}


.mmp_product {
  li {
    border-bottom: 1px solid #ccc;
    a {
      padding: .266667rem /* 20/75 */;
      background-color: #fff;
      img {
        width: 2.666667rem /* 200/75 */;
        height: 2.613333rem /* 196/75 */;
      }
    }
    .title {
      overflow: hidden;
      font-size: .346667rem /* 26/75 */;
      padding-left: .266667rem /* 20/75 */;
      p {
        line-height: .613333rem /* 46/75 */;
      }
      .tit {
        height: 1.2rem /* 90/75 */;
      }
      .price {
        color: red;
      }
      .desc {
        font-size: .32rem /* 24/75 */;
        color: #999;
      }
    }
  }
}

// page
.page {
  padding: .266667rem /* 20/75 */ 0;
  span {
    float: left;
    width: 33.33%;
    text-align: center;
    display: block;
    font-size: .32rem /* 24/75 */;
    a {
      width: 2.133333rem /* 160/75 */;
      padding: .16rem /* 12/75 */ .4rem /* 30/75 */;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
  select {
    display: block;
    width: 1.6rem /* 120/75 */;
    height: 100%;
    border: 1px solid #ccc;
    padding: .16rem /* 12/75 */ .133333rem /* 10/75 */;
    margin: 0 auto;
  }
}